
/* Make the HTML and body elements cover the entire screen */
 body {
    height: 100%;
}

/* Set a background color for the entire page */
body {
    background-color: #e1f6f4; 
    font-family: Arial, sans-serif;
    display: flex;
    font-size: 40px;
    flex-direction: column;
    justify-content: space-between;
}

/* Style the navigation menu */
.homemenu {
    background-color: #118a7e; 
    text-align: center;
    padding: 100px;
}

.homemenu a {
    text-decoration: none;
    color:#aeccc6; 
    margin: 0 10px;
}

/* Style the logo */
.logo {
    display: block;
    margin: 300px auto;
    max-width: 100%;
    height: auto;
    background-color: #e1f6f4;  
}

/* Style the footer */
.homefooter {
    background-color: #118a7e; 
    text-align: center;
    padding: 30px;
    color: #aeccc6; 
}

/* Make the navigation menu responsive */
@media (max-width: 768px) {
    .homemenu {
        flex-direction: column;
    }
    .homemenu a {
        margin: 10px 0;
    }
}
